@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  border-color: rgb(226, 232, 240);
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  padding: 32px;
}

footer {
  padding-top: 96px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #243e63;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
}

p {
  color: #7c8ba1;
}

input {
  padding: 20px 192px 20px 32px;
  border-style: solid;
  border-radius: 100px;
  border-color: rgb(226, 232, 240);
  transition: all 300ms ease;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  opacity: 0.4;
}

h2 {
  letter-spacing: 0.025em;
  font-weight: 900;
  font-size: 48px;
  margin-top: 16px;
  width: 100%;
  color: #243e63;
}

.section__row {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 96px 0;
}

.section__heading {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 16px;
}

.no__cursor {
  cursor: not-allowed;
}

.purple {
  color: #6415ff;
}

.row {
  width: 100%;
  max-width: 1328px;
  margin: 0 auto;
  padding: 96px 0;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

/*

NAV

*/
.row__nav {
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo__text {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  margin-right: 24px;
  padding-bottom: 4px;
}

.logo__img {
  width: 40px;
  margin-right: 12px;
}

.nav__links {
  font-size: 14px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link {
  margin: 0 24px;
  font-weight: 600;
}

.nav__login {
  margin: 0 24px 0 48px;
}

.purple__btn:hover {
  text-decoration: none;
  background-color: #5011cc;
}

.purple__btn {
  background-color: #6415ff;
  color: white;
  margin: 0;
  padding: 12px 32px;
  border-radius: 100px;
  transition: all 300ms ease;
}

.btn__menu {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 20px;
  display: none;
}

.menu__backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 248px;
  z-index: 10;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  margin: 24px 16px;
  border: 1px solid;
  border-color: rgb(218, 213, 213);
  border-radius: 10px;
  transition: all 300ms ease;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
}

.menu__list {
  margin: 30px 0;
}

.menu__link:hover {
  color: #5011cc;
  text-decoration: underline;
}

.menu__link {
  padding-bottom: 4px;
  font-size: 18px;
  color: #1a202c;
  font-weight: 600;
  letter-spacing: 0.025em;
  transition: all 200ms ease;
}

.menu__link--sign:hover {
  background-color: #5011cc;
}

.menu__link--sign {
  border: 0 solid;
  background-color: rgb(100 21 255);
  padding: 14px 32px 14px 32px;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 0.025em;
  transition: all 300ms ease;
}

/*

HEADER

*/

.header {
  display: flex;
  align-items: center;
}

.header__left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.header__para {
  font-size: 18px;
  margin: 32px 0;
  line-height: 1.5;
}

.header__input {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 448px;
}

.header__email--input:hover {
  border-color: rgb(160, 174, 192, 0.8);
}

.header__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 160px;
  right: 0px;
  padding: 14px;
  border-radius: 100px;
  margin: 8px 8px 8px 0;
  background-color: #6415ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border-color: #fff;
  border-style: solid;
  transition: all 300ms ease;
}

.header__button:hover {
  background-color: #5011cc;
}

.header__customers {
  margin-top: 80px;
}

.header__customers--img {
  width: 100%;
  opacity: 0.5;
  margin-top: 16px;
  padding-right: 64px;
}

.header__customers--para {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #a0aec0;
}

.header__right {
  width: 60%;
}

.header__right--img {
  width: 100%;
}

/*

FEATURES

*/

.features__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section__title {
  margin-bottom: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.features__heading--para {
  font-weight: 500;
  margin: 16px 0 24px;
  max-width: 576px;
  font-size: 18px;
  line-height: 1.5;
}

.container__features {
  margin: 0 auto;
  max-width: 1024px;
  padding: 96px 0;
}

.container__highlights {
  padding-top: 20px;
  display: flex;
  width: 100%;
}

.highlight {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.highlights__wrapper {
  display: flex;
  padding: 32px 8px;
  width: calc(100% / 3);
}

.highlight__img {
  max-width: 70px;
  max-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 232, 240);
}

.highlight__text--para {
  display: flex;
  font-weight: 500;
  line-height: 2;
  color: #7c8ba1;
  margin-top: 16px;
}

.highlight__header {
  font-size: 24px;
  color: #243e63;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
}

.highlight__text {
  margin: 8px 0 0 16px;
  max-width: 100%/3;
}

/*

QUALITY

*/

.header__quality--left {
  width: 50%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
}

.header__quality--left--para {
  margin-top: 16px;
  font-weight: 500;
  line-height: 1.625;
  font-size: 18px;
  width: 100%;
  max-width: 470px;
}

.header__quality--right {
  width: 50%;
}

.quality__img {
  width: 100%;
  border: solid 1px rgb(226, 232, 240);;
  border-radius: 4px;
}

.header__left--btn {
  background-color: #6415ff;
  color: white;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  max-width: 142px;
  margin-top: 32px;
  padding: 14px 32px;
  border-radius: 100px;
  transition: all 300ms ease;
}

/*

STEPS

*/

.steps__left {
  width: 50%;
}

.steps__left--img {
  width: 100%;
  max-width: 640px;
}

.steps__right {
  width: 50%;
  padding: 32px 0;
  margin-left: 48px;
}

.steps__ul {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.steps__li {
  display: flex;
  margin-top: 32px;
}

.list__number {
  font-size: 36px;
  color: #cbd5e0;
  font-weight: 600;
}

.list__text--wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.steps__list--heading {
  font-size: 20px;
  color: #243e63;
  font-weight: 600;
  line-height: 1;
}

.steps__para {
  margin-top: 12px;
  max-width: 320px;
}

/*

VALUES

*/
.row__values {
  display: flex;
  align-items: center;
  text-align: left;
}

.values__left {
  width: 50%;
  padding: 32px 0;
}

 .values__heading {
  width: 100%;
  max-width: 576px;
 }

 .values__heading--para {
  margin-top: 32px;
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
  max-width: 576px;
 }

 .principle__wrapper {
  display: flex;
 }

 .affordable__wrapper {
  width: 100%;
  max-width: 280px;
  margin: 32px 32px 0 0;
 }

 .professionalism__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 280px;
  margin-top: 32px;
 }

 .principle__point {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
 }

 .pro {
  margin-left: 16px;
 }

 .Professionalism__icon {
  border-radius: 100px;
  padding: 8px;
  background-color: #feb2b2;
  color: rgb(155 44 44);
 }

 .affordable__icon {
  border-radius: 100px;
  padding: 8px 12.38px;
  background-color: #9ae6b4;
  color: rgb(39 103 73);
 }

 .point__para {
  color: #718096;
  font-size: 16px;
  margin-top: 16px;
  line-height: 1.625;
 }

 .values__btn {
  display: flex;
  margin-top: 48px;
  max-width: 150px;
 }

 .values__right {
  width: 50%;
}

.values__right--img {
  width: 100%;
}

/*

PRICING

*/

.plans {
  display: flex;
}

.pricing__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pricing__heading--para {
  width: 100%;
  font-weight: 500;
  line-height: 1.625;
  max-width: 576px;
  margin-top: 16px;
  font-size: 18px;
}

.plan__personal,
.plan__business {
  display: flex;
  flex-direction: column;
  margin: 64px 32px 0 0;
  width: 100%;
  max-width: 384px;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgb(226, 232, 240), -1px -1px 2px rgb(226, 232, 240);
}

.plan__styling {
  height: 8px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.personal__pricing {
  padding: 32px 0;
}

.pricing__span {
  display: flex;
  justify-content: center;
  width: 100%;
}

.name {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
}

.price {
  color: #1a202c;
  font-size: 48px;
  font-weight: 700;
  margin: 4px 0;
}

.duration {
  color: #a0aec0;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.personal__features {
  position: relative;
  border-style: solid;
  border-top-width: 2px;
  border-right: 0px;
  border-left: 0px;
  border-bottom-width: 2px;
  border-color: rgb(226, 232, 240);;
  padding: 32px;
  width: 100%;
  margin: 0 auto;
}

.plans__features {
  margin-top: 20px;
  color: #718096;
  font-weight: 500;
}

.plans__features--heading {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
}


.plans__btn {
  padding: 16px 32px;
  border-radius: 100px;
  border: solid;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
}

.personal__btn {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  color: white;
}

.business__btn {
  background-color: #f7fafc;
  border-color: #f7fafc;
  color: #6415ff;
}

  .enterprise__btn {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: white;
  }

.personal__btn--wrapper {
  margin: 0 auto;
  padding: 32px;
  width: 100%;
  max-width: 276px;
}

.plan__business {
  background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plans__features--business {
  color: #e2e8f0;
}

.plans__features--heading--business {
  color: #f7fafc;
}

.pricing__span--business--name,
.pricing__span--business--price {
  color: #f7fafc;
}

.pricing__span--business--duration {
  color: #EDF2F7;
}

.plan__styling--business {
  opacity: 0;
}

.plan__styling--enterprise {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*

TESTIMONIALS

*/

.test {
  display: flex;
}

.test__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.test__img {
  width: 100%;
}

.test__right {
  padding-left: 64px;
  width: 60%;
}

.test__heading--para {
  margin-top: 24px;
}

.testimonial {
  margin-top: 40px;
}

.fa-star {
  margin-right: 1px;
  color: rgb(246 173 85);
}

.test__heading {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
}

.test__para {
  color: #4a5568;
  font-size: 16px;
  margin: 16px 0 40px;
  line-height: 1.625;
  font-weight: 500;
}

.test__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test__footer--left {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 248px;
}

.test__footer--img--wrapper {
  max-width: 80px;
  max-height: 80px;
}

.test__name {
  margin-left: 24px;
  width: 100%;
}

.test__footer--name {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
}

.test__name--job {
  font-weight: 500;
}

.test__footer--img {
  border-radius: 100px;
  max-width: 80px;
  width: 100%;
}

.test__footer--right {
  display: flex;
}

.test__btns {
  color: rgb(100 21 255);
  padding: 16px 19px;
  margin: 0 12px;
  border-radius: 100px;
  border-style: solid;
  border-color: rgb(237 242 247);
  background-color: rgb(237 242 247);
  font-size: 16px;
}

.test__btn--divider {
  border: solid;
  margin: 15px 0 15px 0;
  border-right-width: 1px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: rgb(226, 232, 240);
}

/*

FAQS

*/

.faq {
  width: 100%;
}

.faq__header {
  text-align: center;
  width: 100%;
}

.faq__para {
  margin: 16px auto 0 auto ;
  width: 100%;
  max-width: 576px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.question {
  padding: 16px 40px;
  margin-top: 20px;
  background-color: #EDF2F7;
  width: 100%;
  max-width: 896px;
  border-radius: 10px;
}

.question__para {
  color: #2d3748;
  font-size: 18px;
  font-weight: 600;
}

/*

END

*/

.row__end {
  width: 100%;
  max-width: 1280px;
}

.end {
  display: flex;
  border-radius: 10px;
  width: 100%;
  max-width: 1280px;
  height: 240px;
  background-color: rgb(100 21 255);
}

.end__body {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.end__body--top {
  width: 60%;
}

.end__body--header {
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  padding-left: 40px;
  width: 100%;
  max-width: 478px;
}

.end__body--btns {
  width: 40%;
}

.end__btns {
  background-color: #f56565;
  color: #f7fafc;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
}

.end__btn--right:hover {
  background-color: #f7fafc;
  color: rgb(100 21 255);
}


.end__btn--right {
  background-color: rgb(100 21 255);
  transition: all 500ms ease;
  border: 1px solid;
}

.end__btn--left:hover {
  background-color: #e53e3e;
}

.end__btn--left {
  border: 0px;
  margin-right: 32px;
  transition: all 500ms ease;
}

/*

FOOTER

*/


.row__footer {
  /* width: 100%; */
  margin: 0 -32px -32px -32px;
  padding: 96px 32px 96px 32px;
  background-color: #6415ff;
}

.footer__body {
  
}

.footer__body--lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  color: #f7fafc;
  font-size: 18px;
  font-weight: 700;
}

.footer__ul {
  margin-top: 24px;
}

.footer__li {
  margin-top: 12px;
}

.footer__list--item:hover {
  text-decoration: underline #fff;
}

.footer__list--item {
  color: #f7fafc;
  font-size: 14px;
  font-weight: 500;
  transition: all 400ms ease;
}

.footer__body--border {
  border: 1px solid rgb(116 44 255);
  margin: 64px 0;
}

.footer__body--end {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  width: 34px;
}

.footer__logo--text {
  color: #f7fafc;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.05em;
  margin-left: 8px;
}

.footer__watermark {
  color: #cbd5e0;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.footer__social--links {
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer__links {
  margin-right: 16px;
  padding: 8px;
  background-color: #f7fafc;
  border-radius: 100px;
}

.footer__links--facebook {
  margin-right: 16px;
  padding: 8px 11px;
  background-color: #f7fafc;
  border-radius: 100px;
}

@media (max-width:1022px){

  .btn__menu {
    display: block;
  }
  
  .nav__links {
  display: none;
}

  .header {
  flex-direction: column;
}

.header__left {
  align-items: center;
  width: 65%;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}

.header__para {
  text-align: center;
}

.header__input {
  text-align: center;
}

.header__customers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__customers--img {
  padding: 0;
}

h2 {
  font-size: 30px;
}

.highlight {
  display: flex;
  justify-content: center;
}

.highlights__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
}

.highlight__text--para {
  width: 100%;
  max-width: 400px;
}

.section__row {
  flex-direction: column-reverse;
}

.header__quality--left {
  text-align: center;
  align-items: center;
}

.row__values {
  flex-direction: column;
  text-align: center;
}

.values__btn {
  margin: 48px auto 0 auto;
}

.plans {
  flex-direction: column;
  align-items: center;
}

.plan__personal {
  margin-right: 0;
}

.plan__business {
  margin-right: 0;
}

.test {
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

.test__right {
  padding: 0;
}

.test__img {
  margin-top: 20px;
}

.end__body {
  flex-direction: column;
  align-items: center;
}

.end__body--btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.end__body--top {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.end__body--header {
  max-width: 100%;
  text-align: center;
  padding: 40px 0 0 0;
  font-size: 25px;
}
}